--extra-index-url https://pypi.nvidia.com
accelerate
build
colored
cuda-python # Do not override the custom version of cuda-python installed in the NGC PyTorch image.
diffusers
lark
mpi4py
numpy<2
onnx
onnx_graphsurgeon
openai
polygraphy
psutil
pynvml
pulp
pandas
h5py==3.10.0
StrEnum
sentencepiece
tensorrt
torch
torchvision
nvidia-modelopt[torch]
transformers
pydantic
pillow
wheel
optimum
evaluate
mpmath
click
click_option_group
aenum
