-r requirements.txt
datasets
einops
graphviz
mypy
parameterized
pre-commit
pybind11
pybind11-stubgen
pytest-cov
pytest-forked
pytest-xdist
pytest-timeout
pytest-split
rouge_score
cloudpickle
typing-extensions
bandit
jsonlines
jieba
rouge
pytest-rerunfailures
setuptools
